@media only screen and (max-width: 360px) {
  .detalhes-header {
    align-items: center;
    border: 3px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  .detalhes-img {
    /* border: 1px solid hotpink; */
    max-height: 400px;
    overflow: hidden;
  }
  
  .detalhes-img-border {
    /* border: 1px solid rebeccapurple; */
    max-height: 200px;
    overflow: hidden;
  }
  
  .detalhes-img-border img {
    /* border: 1px solid rebeccapurple; */
    margin-top: -70px;
    max-height: 400px;
    max-width: 100vw;
  }
  
  .detalhes-bar {
  
  }
  
  .detalhes-titles {
  
  }
  
  .detalhes-title {
  
  }
  
  .detalhes-subtitle {
  
  }
  
  .detalhes-buttons {
  
  }
  
  .detalhes-share {
  
  }
  
  .detalhes-fav {
  
  }
}