.recomended-container {
  display: flex;
  flex-direction: row;
  height: 300px;
  overflow: scroll;
  width: 480px;
  border: 1px solid green;
}

.recomended-datails {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
}

.recomended-details-link {
  background-color: #00000000;
  border-radius: 0;
  color: #252525;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-shadow: none;
}

.recomended-image {
  border-radius: 3px;
  max-height: 220px;
  max-width: 270px;
  object-fit: cover;
}